[user]
  name = {{name}}
  email = {{email}}
[core]
  excludesfile = ~/.gitignore
  editor = {{editor}}
[push]
  default = simple
[ghq]
  root = {{go_path}}/src
[github]
	user = {{github_name}}
	oauth-token = {{github_oauth_token}}
[alias]
  s = status
  l = log
  co = checkout
  a = add
  cm = commit
  f = fetch
  b  = branch -vv
  d = diff
[color]
  ui = true
